body {
    background-color:black;
    color:gray;
}

header, nav, div, footer {
    text-align:center;
}

nav a{
    padding:15px;
    padding-bottom:4px;
    font-size:1.8em;
    text-decoration: none;  /*removes underline*/
    color:white;
}

nav a:hover {
    border-bottom:2px orange solid;
    font-size:2em;
    transition: .9s;
}

#me, #welcomeText {
    float:left;
}

#welcomeText{
    text-align:left !important;
    font-size:1.2em;
}

footer {
    clear:left;
    font-size:0.8em;
    color:gold;
}

table {
    margin: 0px auto;
}

td {
    padding-right:10px;
    font-size:1.3em;
}

td strong {
    color:orange;
}

#table-header {
    background-color: #351a00;
}

.table-row {
    background-color: #753900;
}

.hobby {
    color:yellow;
}

ul {
    text-align:left;
    padding-left:200px;
}


h1 {
    font-family: "Pacifico", cursive;
    font-size:4em;
    margin-bottom: 0px;
}