body{
	background-color: black;
	font-family: 'Indie Flower', cursive;
}

#gameWindow{
	border: 3px solid white;
	position: relative;
	width: 800px;
	height: 500px;
	margin: 0 auto;
	background-color: white;
	overflow: hidden;
	cursor: url('../img/crosshair.gif') 16 16, crosshair;
	background: url('../img/background.jpeg');
	background-size: 100%;
}

.monkey{
   background: url('../img/monkey.png');
   background-size: 80px 80px;
   position:absolute;
   width: 80px;
   height: 80px;
   z-index: 10;
}
 
 h1, h3{
 	color:white; 
 	text-align:center;
 }
 
 #outputHit, #outputMis {
 	color:#66ff33;
 	padding:20px; 
 	text-align:center;
 }
 
 .wrapper{
 	text-align:center;
 	padding-top:30%;
 }
 
.button {
	-moz-box-shadow: 0px 1px 0px 0px #3dc21b;
	-webkit-box-shadow: 0px 1px 0px 0px #3dc21b;
	box-shadow: 0px 1px 0px 0px #3dc21b;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #5cbf2a));
	background:-moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
	background-color:#44c767;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:2px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #44c767));
	background:-moz-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-webkit-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-o-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-ms-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
	background-color:#5cbf2a;
}
.button:active {
	position:relative;
	top:1px;
}