@import url('https://fonts.googleapis.com/css?family=Merriweather');
/* @import url('https://fonts.googleapis.com/css?family=Jua');*/
head, body, footer{
    text-align:center;
}

body {
    /*background-color: green;*/
    font-family: 'Merriweather', serif;
    /*font-family: 'Jua', sans-serif;*/
    background-image:url("../img/library.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center; 
    padding-right:220px;
    padding-left: 220px;

}

label{
    font-size: 30px;
    font-weight: 900;
    margin: 20px;
    line-height: 200%;
}

img{
   width: 200px;
}
.desc{

    width: 400px;
    height:150px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

h1{
    font-size: 50px;
    font-weight: 900px;
}


th{
    background-color: Yellow;
    font-size: 30px;
    font-weight:900;
}
 th, td {
    border-bottom: 5px solid #ddd;
}
td {
    font-size: 20px;
}


#bookCat,#bookAuthor{
    width: 10%;
}

p{
    text-align: center;
    font-weight: 900;
}

/*table h3{
    background-color: yellow;
    color: black;
}*/

mark{
    background-color: yellow;
    color: black;
}