body{
    text-align:center;
    background-color:black;
    color:silver;
    font-family:"Arial";
    font-size:1.4em;
}

#subheader5, #subheader1, #subheader2, #subheader3, #subheader4 #subheader{
    color:white;
    font-size:1.6em;
}

#list1, #list2, #list3{
    color:white;
    font-size:1.4em;
}

body header{
    font-size:1.8em;
    color:white;
    font-family:"Arial";
    
}

nav a{
    padding:20px;
    font-size:2em;
    text-decoration: none;  /*removes underline*/
    color:silver;
}
nav a:hover{
    border-bottom:2px black solid;
    font-size:2.6em;
    transition: .7s;
}

#os{
    width:500px;
    border-radius:50px;
}

#processes{
    width:500px;
    border-radius:50px;
}

#definition{
    padding-bottom:100px;
}

#job{
    padding-bottom:100px;
}

#source, #source1, #source2, #source3, #source4, #source5, #source6{
    color:white;
}

#types{
    padding-bottom:40px;
}

footer{
    color:white;
    font-size:.5em;
}

#csumb{
    width:100px;
}

#macos{
    width:800px;
}

hr{
    width:40%;
}

.linux{
    width:800px;
}

ul{
    list-style-type:none;
}

#windowsGif{
    width:800px;
}

#content {
    padding-bottom:30px;
}
